datasets/lastfm-1K-users-profile.tsv
datasets/lastfm-1K-users-tracks.tsv
datasets/spotify600k_artists.csv
datasets/spotify600k_similar_artists.json
datasets/spotify600k_tracks.csv
old/pickle
FeatureStore/MusUsers.pickle
datasets/
__pycache__/

PreProcColaboracao.py
FeatureStore backup/AudioFeatures.pickle
FeatureStore backup/DominioDasMusicas.pickle
FeatureStore backup/DominioMusicasColab.pickle
FeatureStore backup/MusUserACurte.pickle
FeatureStore backup/MusUserANaoCurte.pickle
FeatureStore backup/MusUsers.pickle
FeatureStore backup/backup 30-ago/AudioFeatures.pickle
FeatureStore backup/backup 30-ago/DominioDasMusicas.pickle
FeatureStore backup/backup 30-ago/DominioMusicasColab.pickle
FeatureStore backup/backup 30-ago/MusUserACurte.pickle
FeatureStore backup/backup 30-ago/MusUserANaoCurte.pickle
FeatureStore backup/backup 30-ago/MusUsers.pickle
FeatureStore/MusUsersColab.pickle
FeatureStore backup/MusUsersColab.pickle
FeatureStore backup/MusUsersColab100_500.pickle
.venv/pyvenv.cfg
.venv/Scripts/activate
.venv/Scripts/activate.bat
.venv/Scripts/Activate.ps1
.venv/Scripts/deactivate.bat
.venv/Scripts/python.exe
.venv/Scripts/pythonw.exe
.vscode/settings.json
.vscode/launch.json
FeatureStore/MusUsersFiltradas100a500.pickle
FeatureStore/MusUsersNoDominio.pickle
FeatureStore backup/MusUsersFiltradas100a500.pickle
FeatureStore backup/MusUsersNoDominio.pickle
FeatureStore backup/
FeatureStore/MusUsersFiltradas.pickle
FeatureStore/DominioMusicasColab.pickle
